# Python Basics

In [1]:
a= 10
type(a)

int

In [4]:
first_name= 'Tanvi'
last_name= 'Pathak'
print('My first name is {} and my last name is {}'.format(first_name,last_name))
print('My first name is {first} and my last name is {last}'.format(last=first_name,first=last_name))

My first name is Tanvi and my last name is Pathak
My first name is Pathak and my last name is Tanvi

In [8]:
print(first_name,last_name)
print('my name is',first_name,last_name)

Tanvi Pathak
my name is Tanvi Pathak

In [11]:
my_str='Tanvi1234'
my_str.istitle() #Check if each word start with an upper case letter
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

## Lists

In [13]:
lst=[1,2,3]
lst.append([4,5])
lst.insert(2,"Pathak")
lst

[1, 2, 'Pathak', 3, [4, 5]]

In [21]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
print(lst)
print(sum(lst))
print(lst.pop())
lst.count(1) #Calculates total occurrence of given element of List

[1, 2, 3, 4, 5, 6, 8, 9]
38
9

1

## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [29]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [30]:
set_var={1,2,3,4,3}

In [31]:
set_var

{1, 2, 3, 4}

In [32]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [39]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set1.intersection_update(set2) #set1 gets updated 
print(set1)
print(set2)
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.intersection_update(set1) #set2 gets updated 
print(set1)
set2

{'Hitman', 'Avengers', 'IronMan'}
{'Hitman', 'Avengers', 'Hulk2', 'IronMan'}
{'Hitman', 'Avengers', 'IronMan'}

{'Avengers', 'Hitman', 'IronMan'}

In [42]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.difference(set1)

{'Hulk2'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [44]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
my_dict['Car1']
for x in my_dict.values():
    print(x)
for x in my_dict:
    print(x)
my_dict['car4']='Audi 2.0'
my_dict

Audi
BMW
Mercidies Benz
Car1
Car2
Car3

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [45]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

print(car_type)

print(car_type['car1']['Mercedes'])

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}
1960

## Tuples
They are immutable

In [46]:
my_tuple=tuple()
my_tuple=("T","A","J")
my_tuple=('Hello','World')

print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [49]:
my_tuple[0]='t'
my_tuple
#gives error
#but if the tuple item is mutable like a list then the tuple value can change

TypeError: 'tuple' object does not support item assignment